section.jumbotron.text-center
    .container
        h1 Capucas WebSocket Client
        p.lead.text-muted Test websocket client
        //- p
        //-   a.btn.btn-primary.m-2(href="#") Action 1
        //-   a.btn.btn-secondary.m-2(href="#") Action 2
          